{:aliases {:repl-server
           {:exec-fn clojure.core.server/start-server
            :exec-args {:name "repl-server"
                        :port 5555
                        :accept odisi.server/repl
                        :server-daemon false}
            :extra-deps {odisi/clojure-utils {:local/root "../clojure-utils"}}}}
 :mvn/repos {"cognitect-dev-tools"
             {:url "https://dev-tools.cognitect.com/maven/releases/"}}}
